body {
  background-color: rgba(199, 209, 248, 0.562);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0px 20px;
}

.container .heading {
  width: 50%;
  padding-bottom: 50px;
}
.container .heading h1 {
  font-size: 3em;
  font-weight: bolder;
  border-bottom: solid rgb(110, 166, 230);
  color: rgb(110, 166, 230);
  padding-bottom: 10px;
}

.container .heading h1 span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 80;
  color: rgb(110, 166, 230);
}

.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .box .images {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 1rem;
}

.container .box .images img {
  width: 100%;
  margin-bottom: 1rem;
  border: solid rgb(110, 166, 230);
  border-radius: 1rem;
  transition: 0.3s;
}

.container .box .images iframe {
  width: 100%;
  margin-bottom: 1rem;
  border: solid rgb(110, 166, 230);
  border-radius: 1rem;
  transition: 0.3s;
}

.container .box .images img:hover {
  transform: translate(-0px, -5px);
}

.container .box .images iframe:hover {
  transform: translate(-0px, -5px);
}
